<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRLibManagement</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">

    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            background: url('https://wallpaper-house.com/data/out/8/wallpaper2you_231925.jpg') center center fixed;
            background-size: cover;
            font-family: 'Montserrat', sans-serif;
        }

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 12%;
        }

        .cofd {
            display: inline-block;
            height: 20px;
            position: relative;
            width: 13pc;
            border: 1px solid #d5c8aa;
            font-size: 15px;
            font-family: 'Philosopher',serif;
            outline: none;
        }

        .user-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 10px;
            padding: 40px;
            width: 650px;
            position: relative;
            overflow: hidden;
            box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
        }

        .user-card:before {
            content: '';
            position: absolute;
            height: 300%;
            width: 173px;
            background: #262626;
            top: -60px;
            left: -125px;
            z-index: 0;
            transform: rotate(17deg);
        }

        .user-card-img {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
        }

        .user-card-img img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
        }

        .user-card-img .initials {
            background-color: #daa000;
            color: #fff;
            font-size: 80px;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .user-card-info {
            text-align: center;
        }

        .profile-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            width: 100%;
        }

        .profile-header h2 {
            font-size: 24px;
            margin: 0;
            font-family: 'Philosopher', serif;
            letter-spacing: 3px;
            color: #333;
        }

        .edit-link a {
            cursor: pointer;
            color: #a37e2b;
            font-size: 24px;
            letter-spacing: 2.8px;
            font-family: 'Philosopher', serif;
            height: auto;
            line-height: 18px;
            font-weight: 500;
            text-decoration: none;
        }

        .edit-link i {
            line-height: 1pc;
        }

        @media only screen and (min-width: 768px) {
            .user-card {
                flex-direction: row;
                align-items: flex-start;
            }

            .user-card-img {
                margin-right: 20px;
                margin-bottom: 0;
            }

            .user-card-info {
                text-align: left;
            }
        }

        @media (max-width: 767px) {
            .wrapper {
                padding-top: 3%;
            }

            .user-card:before {
                width: 300%;
                height: 200px;
                transform: rotate(0);
            }

            .user-card-info h2 {
                margin-top: 25px;
                font-size: 35px;
            }

            .user-card-info p span {
                display: block;
                margin-bottom: 15px;
                font-size: 18px;
            }
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="user-card">
            <div class="user-card-img">
                <div class="initials"><%= @user.first_name[0].upcase + @user.last_name[0].upcase %></div>
            </div>
            <div class="user-card-info">
                <div class="profile-header">
                    <h2>Profile</h2>
                    <p class="edit-link">
                        <a href="<%= edit_user_path(@user) %>">
                            <i class="fas fa-edit"></i>
                        </a>
                    </p>
                </div>
                <table>
                    <tr>
                        <th class="cofd">User Name</th>
                        <td class="cofd"><%= @user.user_name %></td>
                    </tr>
                    <tr>
                        <th class="cofd">First Name</th>
                        <td class="cofd"><%= @user.first_name %></td>
                    </tr>
                    <tr>
                        <th class="cofd">Last Name</th>
                        <td class="cofd"><%= @user.last_name %></td>
                    </tr>
                    <tr>
                        <th class="cofd">Email</th>
                        <td class="cofd"><%= @user.email %></td>
                    </tr>
                    <tr>
                        <th class="cofd">Phone</th>
                        <td class="cofd"><%= @user.phone_number %></td>
                    </tr>
                    <tr>
                        <th class="cofd">User Role</th>
                        <td class="cofd"><%= @user.user_role %></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
